# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Xcode Playground
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive
WORKFLOW.md
.omx/
